[submodule "tests/code_samples_x/lib/forge-std"]
	path = tests/code_samples_x/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/custom-tests/lib/forge-std"]
	path = tests/custom-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
